.input-container .login-input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.input-container .submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #0B5345;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.input-container .submit-btn:hover {
  background: #0E6251;
}

.input-container .submit-btn:active {
  background: #0B5345;
}

/* Form
––––––––––––––––––––––––––––––––– */
form > h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

input[type="title"],
input[type="id"],
input[type="date"],
input[type="amount"],
input[type="donor"] {
  display: block;
  width: 350px;
  margin-bottom: 0.5rem;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  background-color: white;
  color: var(--gray-800);
  border: none;
  border-radius: 10px;
}

textarea {
  display: block;
  width: 450px;
  min-height: 120px;
  margin-bottom: 0.5rem;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  background-color: white;
  color: var(--gray-700);
  border: none;
  border-radius: 10px;
  resize: vertical;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid pink;
}

button {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}
