.profile-container .profile-header, .profile {
    align-items: center;
    height: 200px;
  }
  
  .profile .name, .profile-header .header-lg {
    flex: 1 0 50%;
  }
  
  .profile-header .header, .profile .time, .profile .amount {
    flex: 1 0 25%;
  }

  img {
    float:right;
    /* padding-top: 10px; */
    align-content:right;
    display: block;
    max-width:100px;
    max-height:95px;
    width: auto;
    height: auto;
    border-radius: 10px;
  }